<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/styles/inicio.css" rel="stylesheet">
  <title>TCP</title>
</head>
<body>
  <h1 id="titulo1">Teste Comportamental e Personalidade</h1>
  <div class="Bloco-inicio">
    <h1 id="titulo2">Bem-vindo!</h1> 
    <h2 id="titulo-meio">Clique em começar e divirta-se</h2>
    <a href="perguntas1.html">
      <button id="login-button">Começar</button> 
    </a>
    <img id="gif-animada" src="/assets/images/brain-sides-animate (1).svg" alt="" width="460px">
  </div>
</body>
</html>