<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultado</title>
  <link rel="icon" href="/assets/images/icons8-cérebros-30.png" type="image/png">
  <link rel="shortcut icon" href="/assets/images/icons8-cérebros-30.png" type="image/x-icon">
  <link href="/styles/resultado.css" rel="stylesheet">
</head>
<body>
  <div id="bloco-gif">
    <img id="gif-animada" src="/assets/images/analista.svg" alt="" width="650px">
  </div>
  <div id="nome-resultado">
    <h1 id="result-h1">
        Analistas
    </h1>
  </div>
  <div class="carrossel-container">
    <div class="carrossel">
      <div class="slide ativo" id="Definição">O Pensador estratégico
          <p>sua abordagem estratégica e detalhista. 
            Diante de um problema, eles analisam todos os cenários 
            possíveis antes de tomar uma decisão. Para eles, 
            o pensamento crítico é uma ferramenta indispensável, 
            e a inovação é um objetivo constante.
          </p>
       </div>
      <div class="slide" id="Positivos">Pontos Positivos
        <p>• São meticulosos na análise de cenários, garantindo decisões bem fundamentadas.</p>
        <p>• Têm foco em inovação, tornando-os ideais para situações que exigem criatividade e visão a longo prazo.</p>
      </div>
      <div class="slide" id="Negativos">Pontos Negativos
        <p>•Podem demorar a agir por analisar demasiadamente os detalhes.</p>
        <p>•Podem ser vistos como excessivamente críticos ao se concentrar em falhas.</p>
      </div>
    </div>
    <button id="prev">Anterior</button>
    <button id="next">Próximo</button>
  </div>
  <script src="/script/script.js"></script>
</body>
</html>
