@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@589&display=swap');
body{
    font-family: "Oswald", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/images/rm222batch2-mind-03.jpg");
    justify-content: center;
    align-items: center;
    margin: 0;

}