body {
    font-family: "Oswald", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/rm222batch2-mind-03.jpg);
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  
  #nome-resultado{
    position: absolute;
    margin-top: 5%;
    width: 450px;
    height: 100px;
    border-radius: 25px;
    background: linear-gradient(90deg, #6bc1ec, #0091d9);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
  }
  #result-h1{
    font-size: 65px;
    color: white;
  }
  .carrossel-container {
    margin-top: 250px;
    margin-right: 100px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column; 
    text-align: center; 
    justify-content: center;
  }
  
  .carrossel {
    position: relative;
    overflow: hidden;
    height: 400px;
  }
  
  .slide {
    display: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
  }
  
  .slide.ativo {
    display: block;
  }
  
  button {
    margin: 10px;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
  }
  #Definição{
    background: linear-gradient(180deg, #0077b3, #00aeff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #Positivos{
    background: linear-gradient(180deg, #005e05, #00bb09);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #Negativos{
    background: linear-gradient(180deg, #970000, #ff0000);
    background-clip: text;
    -webkit-text-fill-color: transparent;;
  }
  #bloco-gif{
    margin-top: 10%;
}
#prev{
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #6bc1ec, #0091d9);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: white;
}
#next{
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #6bc1ec, #0091d9);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: white;
}
#prev:hover, #next:hover {
  background: linear-gradient(90deg, #6bec71, #0091d9);
  transform: scale(1.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.459);
  }

  #botão-grafico{
    position: absolute;
    font-family: "Oswald", sans-serif;
    margin: 0;
    margin-left: -11%;
    margin-top: 42%;
    text-align: center;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #6bc1ec, #0091d9);
    color: white;
    font-size: 35px;
    padding: 10px 70px;
    padding-top: 8px;
    padding-bottom: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#botão-grafico:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.459);
}
