<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/grafico.css" rel="stylesheet">
    <link rel="icon" href="/static/images/icons8-cérebros-30.png" type="image/png">
    <link rel="shortcut icon" href="/static/images/icons8-cérebros-30.png" type="image/x-icon">
    <title>Resultado</title>
</head>
<body>
    <div id="bloco-gif">
        <img id="gif-animada" src="/static/images/analista.svg" alt="" width="650px">
    </div>
    <div id="nome-resultado">
        <h1 id="result-h1">
            Analistas
        </h1>
    </div>
    <div class="Bloco-textos">
      <h1 id="subtitulo">O Pensador estratégico</h1> 
      <h2 id="textinho">Os Analistas destacam-se por
        sua abordagem estratégica e detalhista. 
        Diante de um problema, eles analisam todos os cenários 
        possíveis antes de tomar uma decisão. Para eles, 
        o pensamento crítico é uma ferramenta indispensável, 
        e a inovação é um objetivo constante.
    </h2>
    </div>
</body>
</html>