<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', filename='inicio.css') }}" rel="stylesheet">
  <link href="/static/css/inicio.css" rel="stylesheet">
  <title>Teste comportamental</title>
</head>
<body>
  <h1 id="titulo1">Teste Comportamental e Personalidade</h1>
  <div class="Bloco-inicio">
    <h1 id="titulo2">Bem-vindo!</h1> 
    <h2 id="titulo-meio">Clique em começar e divirta-se</h2>
    <a href="{{ url_for('perguntas') }}">
      <button id="login-button">Começar</button> 
    </a>
    <img id="gif-animada" src="/static/images/brain-sides-animate.svg" alt="" width="460px">
  </div>
</body>
</html>