<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/perguntas.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icons8-cérebros-30.png" type="image/png">
    <link rel="shortcut icon" href="/static/images/icons8-cérebros-30.png" type="image/x-icon">
    <title>TCP</title>
</head>
<body>
    <div class="bloco">
        <div class="metade cima">
            <h1 class="Pergunta">Insira a pergunta</h1>
        </div>
        <div class="metade baixo">
            <form>
                <label>
                  <input type="radio" name="opcao" value="1">
                  resposta 1
                </label>
                <label>
                  <input type="radio" name="opcao" value="2">
                  resposta 2
                </label>
                <label>
                    <input type="radio" name="opcao" value="3">
                    resposta 3
                  </label><label>
                    <input type="radio" name="opcao" value="4">
                    resposta 4
                  </label><label>
                    <input type="radio" name="opcao" value="5">
                    resposta 5
                  </label>
              </form>
              <div class="div-proxima">
                  <button id="btnProxima">Próxima</button>
            </div>
        </div>
    </div>
    <h1 class="numero-da-pergunta">1ª</h1>
</body>
</html>