<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/perguntas.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icons8-cérebros-30.png" type="image/png">
    <link rel="shortcut icon" href="/static/images/icons8-cérebros-30.png" type="image/x-icon">
    <title>TCP</title>
</head>
<body>
<div class="bloco">
    <div class="metade cima">
        <h1 class="Pergunta">{{ pergunta.texto }}</h1>  <!-- Pergunta dinâmica -->
    </div>
    <div class="metade baixo">
        <form action="{{ url_for('perguntas') }}" method="POST">
            {% set i = 1 %}  <!-- Inicializa o contador -->
            {% for opcao in pergunta.opcoes %}
            <label>
                <input type="radio" name="opcao" value="{{ i }}">
                {{ opcao }}
            </label>
            {% set i = i + 1 %}  <!-- Incrementa o contador -->
            {% endfor %}
            <div class="div-proxima">
                <button id="btnProxima" type="submit">Próxima</button>
            </div>
        </form>
    </div>
</div>
<h1 class="numero-da-pergunta">{{ numero_pergunta }}ª</h1>  <!-- Número da pergunta -->
</body>
</html>